<div class="jumbotron">
  <h1 class="display-4">Roberto Galaz Becerra</h1>
  <p class="lead">TALLER DE RUBY </p>
  <hr class="my-4">
  <p>HOLA BIENVENIDO A RAILS</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprende más</a>
  </p>
</div>
